{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "mocha"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "should|expect"
      }
    ],
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": 0,
    "no-param-reassign": "off",
    "react-hooks/exhaustive-deps": "off",
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    // "globals": {
    //   "__logger": "readonly"
    // },

    "no-underscore-dangle": [
      "error",
      {
        "allow": ["__logger"]
      }
    ],
    "overrides": [
      {
        "extends": ["plugin:@typescript-eslint/recommended"],
        "files": ["*.ts"],
        "parser": "@typescript-eslint/parser",
        "parserOptions": {
          "project": "./tsconfig.json"
        },
        "plugins": ["@typescript-eslint"],
        "rules": {
          "@typescript-eslint/no-inferrable-types": "off",
          "@typescript-eslint/no-explicit-any": "off",
          "@typescript-eslint/ban-ts-ignore": "warn",
          "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
          "no-invalid-this": "off"
        }
      }
    ]
  }
}
