<html>
  <span>Hey, I'm George, co-founder of Hi Right Now. I just wanted to follow up and see how your event went yesterday. Would you be up for a quick chat to discuss? https://calendly.com/hirightnow</span>
  <br />
  <br />
  <span>George Pickett</span>
</html>