<html>
  <span>Hey, I'm George, co-founder of Hi Right Now. I saw you RSVP'd to the event <b><%= event_name %></b> but didn't make itš We hope you can make it to the next one. You can check out upcoming events at https://launch.hirightnow.co/events</span>
  <br />
  <br />
  <span>George Pickett</span>
</html>